<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Adtones_Stock::Stock" sortOrder="10" title="Stock">
					<resource id="Adtones_Stock::Stock_save" sortOrder="10" title="Save Stock"/>
					<resource id="Adtones_Stock::Stock_delete" sortOrder="20" title="Delete Stock"/>
					<resource id="Adtones_Stock::Stock_update" sortOrder="30" title="Update Stock"/>
					<resource id="Adtones_Stock::Stock_view" sortOrder="40" title="View Stock"/>
				</resource>
				<resource id="Adtones_Stock::OrderStock" sortOrder="10" title="Order Stock">
					<resource id="Adtones_Stock::OrderStock_save" sortOrder="10" title="Save Stock"/>
					<resource id="Adtones_Stock::OrderStock_delete" sortOrder="20" title="Delete Stock"/>
					<resource id="Adtones_Stock::OrderStock_update" sortOrder="30" title="Update OrderStock"/>
					<resource id="Adtones_Stock::OrderStock_view" sortOrder="40" title="View OrderStockck"/>
				</resource>
				<resource id="Adtones_Stock::Edition" sortOrder="10" title="Edition">
					<resource id="Adtones_Stock::Edition_save" sortOrder="10" title="Save Edition"/>
					<resource id="Adtones_Stock::Edition_delete" sortOrder="20" title="Delete Edition"/>
					<resource id="Adtones_Stock::Edition_update" sortOrder="30" title="Update Edition"/>
					<resource id="Adtones_Stock::Edition_view" sortOrder="40" title="View Edition"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Adtones_Stock::config_adtones_stock" title="adtones_stock"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
