<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!-- <event name="checkout_onepage_controller_success_action">
		<observer instance="Adtones\Stock\Observer\AfterOrderSuccess" name="adtones_stock_observer_afterordersuccess_AfterOrderSuccess"/>
	</event> -->
</config>
