<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="adtones_stock" sortOrder="999" translate="label">
			<label>adtones_stock</label>
		</tab>
		<section id="adtones_stock" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>adtones_stock</label>
			<tab>adtones_stock</tab>
			<resource>Adtones_Stock::config_adtones_stock</resource>
			<group id="adtones_stock" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>adtones_stock</label>
				<field id="is_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>is_enable</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
